PORT=5000
MONGODB_URI=mongodb://stackpilot:stackpilot@cluster0-shard-00-00.oau9d.mongodb.net:27017,cluster0-shard-00-01.oau9d.mongodb.net:27017,cluster0-shard-00-02.oau9d.mongodb.net:27017/stackpilot?ssl=true&replicaSet=atlas-zfg414-shard-0&authSource=admin&appName=Cluster0
CLERK_SECRET_KEY=sk_test_Aez9IDOm0W738JnhcsdrCQJmhi5wCzNyEYR3hUgy7L
OPENROUTER_API_KEY=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
CLIENT_URL=http://localhost:5173
